# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Virtual Environments
# ===============================
.venv/
venv/
env/
py310/

# ===============================
# IDE
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs & Outputs
# ===============================
*.log
logs/
saved/
outputs/
runs/
wandb/

# ===============================
# Model files
# ===============================
*.pt
*.pth
*.ckpt

# ===============================
# Data
# ===============================
data/
dataset/
*.csv
*.parquet
*.npy
*.npz

# ===============================
# Env / Secrets
# ===============================
.env
.env.*